.title {
  margin: 30px;
  color: #db284e
}

.btn-pivot, .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #f55074
}

.btn-undo, .btn-info, .btn-info:hover, .btn-info:active, .btn-info:visited {
  background-color: #ffffff;
  color: #f55074;
}