<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/custom.css">
  <script src="/js/jquery.min.js" type="text/javascript"></script>
  <title>FD</title>
</head>
<body>
  <div class="container">
    <h2 class="title text-center">Female Daily Engineer Assessment #2</h2>
    <table class="table table-striped table-index">
      <tr>
        <th>ID</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Item</th>
        <th>Quantity</th>
        <th>Total Price</th>
      </tr>
      <% results.forEach(function(result) { %>
      <tr>
        <td><%= result.id %></td>
        <td><%= result.first_name %> <%= result.last_name %></td>
        <td><%= result.email %></td>
        <td><%= result.item %></td>
        <td><%= result.quantity %></td>
        <td><%= result.total_price %></td>
      </tr>
      <% }) %>
    </table>
    <button type="button" class="btn btn-primary btn-pivot btn-block">PIVOT</button>
  </div>

  <script>
    $(document).ready(function(){
      $(".btn-pivot").click(function(){
        $.ajax({
          url: '/pivot',
          type: 'GET',
          success: function(data) {
            $('.table-index').remove()
            $(".btn-pivot").remove()
            $(".container").append(data)
          }
        })
      })
    })
  </script>
</body>
</html>