<table class="table table-striped table-pivot">
  <tr>
    <th>Full Name</th>
    <th>Email</th>
    <% items.forEach(function(item) { %>
      <th><%= item %></th>
    <% }) %>
  </tr>
  <% results.forEach(function(result) { %>
  <tr>
    <td><%= result.fullname %></td>
    <td><%= result.email %></td>
    <% items.forEach(function(item) { %>
      <td><%= result[item] %></td>
    <% }) %>
  </tr>
  <% }) %>
</table>
<button type="button" class="btn btn-info btn-undo btn-block">UNDO</button>

<script>
  $(".btn-undo").click(function(){
    location.reload()
  })
</script>